In [ ]:
a='C,B,A'
b=['F','G','H']
c=a.split(',')
d=c+b
d[0]='K'
e=d.pop(2)
print(e)
del d[1:-1]
d.append('U')
print(d)

A
['K', 'H', 'U']

In [ ]:
a=input('請輸入一個八位數')
print(a[4])

請輸入一個八位數74752344
2

In [ ]:
a='MY ID is 學號'
b=a.split(' ')
print(b,len(b))
print(a,len(a))

['MY', 'ID', 'is', '學號'] 4
MY ID is 學號 11

In [ ]:
a="I'm a student"
b=a.split()
c=(b[0])
print(c[2])

m